

/*=======================================
WpF Flaty - WpFreeware
========================================*/
p{
	margin-bottom:10px;
}

a{
  border-bottom: 1px transparent;
}


h2,
h3,
h4,
h5,
h6{  
  padding: 0px;
}


blockquote{    
  color: #000000;
  font-size: 17.5px;
  display: inline;
  margin: 0 0 20px;
  float: left;
  font-style: italic;
  padding: 30px 20px;
  position: relative;
}


blockquote p {
  padding: none !important;
  font-size: 26px;
  padding: 0;
  line-height: 35px;
}


blockquote cite {
  font-size: 20px;
  font-style: normal;
  font-weight: bold;
}


table {
  background-color: transparent;
  border-collapse: collapse;
  border-spacing: 0;
  margin-bottom: 20px;
  width: 100%;
  padding: 0 25px;
}


table thead tr th {
  border-bottom: 2px solid #f8f8f8;
  vertical-align: bottom;
  border-top: 0 none;
}


table tbody tr th,
table tbody tr td {
  border-top: 1px solid #f8f8f8;
  line-height: 1.42857;
  padding: 8px;
  vertical-align: top;
}


table th{
  text-align: left;
}


ol li,
ul li {
  font-size: 15px;
  line-height: 25px;
}


label{
  display: block;
  font-size: 15px;
  padding: 0 20px 0 45px;
  cursor: pointer;
  font-weight: 400;
  margin-bottom: 0;
  min-height: 20px;
}


input[type="checkbox"],
input[type="radio"]{
  position: absolute;
}


ul {
  list-style: circle;
  margin: 0;
  padding: 0 25px;  
}


ul li{
  position: relative;
  padding-left: 10px;
}

/*=======================================
WpF Flaty - WpFreeware
========================================*/